# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Core Node/React dependencies and builds (Applies to all subfolders)
**/node_modules/
**/dist/
**/dist-ssr/
*.local
.env

# Editor directories and files
.vscode/
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Visual Studio temporary files and folders (Matches any depth)
**/.vs/
**/[Bb]in/
**/[Oo]bj/
*.user
